@keyframes alertAnimation {
  from {transform: translate(calc(100% + 10px), 0)}
  to {transform: translate(0, 0)}
}


.notificationsContainer {
  width: 100%;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  background: var(--themeMainContentBackground);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.notificationsTitle {
  color: var(--textColor);
  font-weight: 300;
}




.alertWindow {
  width: 20vw;
  padding: 10px;
  margin-bottom: 5px;
  background: var(--themeMainContentBackground);
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 10px;
  animation: alertAnimation 150ms 1 ease-in-out;
  cursor: pointer;
  transform: translate(0, 0);
  transition-duration: 120ms;
}
.alertWindow:hover { transform: scale(1.03, 1.03); }
.alertWindow.removed {
  animation: none;
  transform: translate(calc(100% + 10px), 0)
}

.alertWindow.addedToList {
  width: 100%;
  position: static;
  transform: translate(0, 0);
  background: var(--themeBackground);
}




.alertWindow > .alertIcon {
  width: 35px;
  aspect-ratio: 1/1;
  margin-right: 10px;
  padding: 5px;
  border-radius: 50%;
}
.alertWindow > .alertIcon.success {
  color: #40b040;
  border: 2px solid #40b040;
}
.alertWindow > .alertIcon.error {
  color: #e33f3f;
  border: 2px solid #e33f3f;
}
.alertWindow > .windowText {
  color: var(--textColor);
}
