.notesView {
  width: 100%;
  height: 100%;
  position: relative;
}
.filterLine {
  width: 100%;
  
}
.openNoteContainer {
  width: 100%;
  height: 0;
  background: var(--noteBackground);
  border-radius: 10px;
  transition: height 350ms;
  z-index: 2;
}
.openNoteContainer.open {
  height: 50%;
}
