.scheduler {
    width: 100%;
    height: 100%;
}
.controlLine {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.dateLine {
    width: 155px;
    margin-right: auto;
    padding: 5px;
    background: var(--noteBackground);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    color: var(--textColor);
    text-align: center;
    text-transform: uppercase;
}
.previousMonthButton,
.nextMonthButton {
    width: 70px;
    height: 56px;
    margin-inline: 3px;
    border-radius: 5px;
    background: var(--noteBackground);
    display: grid;
    place-items: center;
    cursor: pointer;
    border: none;
    opacity: 0.8;
    transition: scale 120ms, opacity 120ms;
}
.previousMonthButton:hover,
.nextMonthButton:hover {
    scale: 0.9 0.9;
    opacity: 1;
}
.previousMonthButton { rotate: 180deg; }
.previousMonthButton > svg,
.nextMonthButton > svg {
    height: 25px;
    color: var(--menuIconColor);
}
.previousMonthButton:hover > svg,
.nextMonthButton:hover > svg {
    color: var(--menuIconColorHover);
}
.daysLine {
    margin-bottom: 10px;
    padding: 10px 0;
    border-radius: 5px;
    background: var(--noteBackground);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dayCell {
    width: 100%;
    color: var(--textColor);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.calendar {
    height: calc(100% - 66px);
}
.calendarsContainer {
    width: 100%;
    height: calc(100% - 38px);
    overflow: hidden;
    position: relative;
}
.calendarList {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 500ms;
}
.calendarList.previousShownMonth { left: -100%; }
.calendarList.currentShowingMonth { left: 0; }
.calendarList.nextBeShownMonth { left: 100%; }

.currentShownMonthDay,
.notThisMonthDay {
    width: 100%;
    height: 100%;
    padding: 5px;
    background: var(--noteBackground);
    border: 1px solid var(--themeMainContentBackground);
    color: var(--textColor);
    font-weight: 700;
    font-style: italic;
    border-radius: 7px;
    position: relative;
}
.notThisMonthDay {
    opacity: 0.7;
    color: var(--menuIconColor);
}
.inDayButton {
    width: 40%;
    aspect-ratio: 3 / 2;
    border: 2px solid var(--menuIconColor);
    border-radius: 5px;
    background: var(--noteBackground);
    color: var(--textColor);
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    cursor: pointer;
    transition: backgound 300ms, border 300ms, color 300ms;
}
.inDayButton:hover {
    background: var(--menuIconColorHover);
    color: var(--noteBackground);
    border: 2px solid var(--menuIconColorHover);
}

.onDayNotes {
    width: 0;
    height: 0;
    background: #2e2e2e;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    overflow: hidden;
    transition-duration: 300ms;
}
.onDayNotes.isOpen {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    left: 10px;
    top: 10px;
    opacity: 1;
}
.closeButton { color: var(--textColor); }

.inDayAddNoteButton {
    width: 100%;
    height: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    display: grid;
    place-items: end end;
    color: var(--menuIconColor);
    position: absolute;
    font-size: 20px;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    transition: color 120ms, opacity 120ms;
}
.inDayAddNoteButton:hover {
    color: var(--menuIconColorHover);
    opacity: 1;
}