.filterRow {
  margin-bottom: 15px;
  display: flex;
}
.gridView {
  width: 19px;
  height: 20px;
  margin-inline: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  cursor: pointer;
}
.barView {
  width: 20px;
  height: 19px;
  margin-inline: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  cursor: pointer;
}
.gridView > div.dots {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--menuIconColor);
  transition: background 120ms;
}
.barView > div.bars {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: var(--menuIconColor);
  transition: background 120ms;
}
.gridView.selected > div.dots,
.gridView:hover > div.dots,
.barView.selected > div.bars,
.barView:hover > div.bars { background: var(--menuIconColorHover); }

.gridButton,
.listButton {
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  color: var(--menuIconColor);
  cursor: pointer;
}
.gridButton:hover,
.listButton:hover,
.gridButton:active,
.listButton:active,
.gridButton:focus,
.listButton:focus { color: var(--menuIconColorHover); }

.notesContainer.notesGrid {
  width: 100%;
  max-height: calc(100% - 15px);
  padding: 15px 10px 15px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.notesContainer.notesList {
  width: 100%;
  height: calc(100% - 15px);
  margin-bottom: 15px;
  padding: 15px 10px 15px 10px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.notesGrid > .note {
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 10px;
  border-radius: 10px;
  background: var(--noteBackground);
  cursor: pointer;
  transition: transform 200ms;
  overflow: hidden;
}
.notesList > .note {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 10px;
  background: var(--noteBackground);
  cursor: pointer;
  transition: transform 200ms;
  overflow: hidden;
}
.notesGrid > .note:not(.fullScreened):hover {
  transform: scale(1.05, 1.05);
}
.notesContainer::-webkit-scrollbar { width: 6px; }
.notesContainer::-webkit-scrollbar-thumb {
  background: var(--menuIconColor);
  border-radius: 3px;
}

.notesGrid > .note > .noteTitle {
  color: var(--textColor);
  margin-bottom: 20px;
  padding: 5px 0 0 5px;
  font-style: italic;
}
.notesList > .note > .noteTitle {
  color: var(--textColor);
  padding: 10px 0 5px 10px;
  font-style: italic;
}

.notesGrid > .note > .noteText {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 18px;
  color: var(--textColor);
}
.notesList > .note > .noteText {
  padding-inline: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--textColor);
}

